/***********************************
MOBILE
************************************/
@use "variables" as *; //this puts all the variables in the global namespace.

.page-wrapper {
    bbackground: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png), linear-gradient( $black 50%, $blue );   
    bheight: 100%;
    bheight: 100vh; 
}
.intro {
    bbackground-image: url("images/mountain.png");
    bbackground-size: 100% 100%;
    padding: 1em;	
  }
.summary {
    margin-bottom: 1em;
    text-align: center;
    font-style: italic;
}
.main {
    bbackground-image: url("images/trees.png");
    bbackground-size: 100% 100%;		
    padding: 1em;	
}
footer {
    bbackground-image: url("images/lake.png");
    bbackground-size: 100% 100%;
    padding: 1em;	
}
aside {
    padding: 1em;	
}
.wrapper {
    bbackground-image: url("images/camp.png");
    bbackground-size: 100% 100%;	
}
ul {
    list-style: none;
}