/***********************************
MOBILE
************************************/
@use "variables" as *; //this puts all the variables in the global namespace.

.intro {
    padding: 1em;	
  }
.summary {
    margin-bottom: 1em;
    text-align: center;
    font-style: italic;
}
.main {
    padding: 1em;	
}
footer {
    padding: 1em;	
}
aside {
    padding: 1em;	
}
ul {
    list-style: none;
}