@use "variables" as *; //this puts all the variables in the global namespace.
//@use "mixins" as m;
@use 'atoms';
@use 'mobile';
@use 'molecules';
@use 'organisims';

/* https://nataliagray.github.io/WDD331-group2/ */
/***********************************
MEDIA QUERIES
************************************/
// tablet
@media only screen and (min-width: 481px) {
  /* TODO */
}
// laptop
@media only screen and (min-width: 769px) {
  .main {
    height: 210%;
  }
}
// laptop
@media only screen and (min-width: 900px) {
  .main {
    height: 200%; 
  }
}
// desktop (Nest Hub) ... screen must be 1024 or larger
@media only screen and (min-width: 1024px) {
  .main {
    height: 170%;
  }
}
// tv
@media only screen and (min-width: 1248px) {
  .main {
    height: 250%;
  }
  .explanation, .benefits {
    width: 50%;
  }

  .participation, .requirements {
    text-align: right;
    position: relative;
    left: 40%;
    width: 60%; 
  }
}
@media only screen and (min-width: 1600px) {
  .main {
    height: 1050px;
  }
}

// ripple text
.select, .archives, .resources {
  animation: ripple 4s ease-in infinite;
}
@keyframes ripple {
  0% {
      btransform: rotate(-1deg) skew(20deg);
      btransform: rotate(-1deg);
      transform: skew(3deg, 3deg);
      bletter-spacing: 2px;
    }
  50% {
    btransform: rotate(1deg) skew(-20deg);
    btransform: rotate(1deg);
    transform: skew(-3deg, -3deg);
    bbetter-spacing: 5px;
  }  
  100% {
      btransform: rotate(-1deg) skew(20deg);
      btransform: rotate(-1deg);
      transform: skew(3deg, 3deg);
      bletter-spacing: 2px;
  }
}